body{
    margin:0px;
    background-image: url(image/accueil/background.png);
    background-attachment: fixed;
    font-family: "Century Gothic";
    background-repeat: no-repeat;
    font-size: 14px;
    color: white;
    display:grid;
    grid-template-columns: 7% 1fr;
}

#header_footer{
    height: 100vh;
    grid-column: 2;
    display: grid;
    grid-template-rows: 15% 80% 5%;
}

header{
    display:flex;
    grid-template-columns: 1fr 7%;
    justify-content: center;
    background-color: cyan;
    grid-row:1;
    align-items: stretch;
}

nav{
    grid-column: 1;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 0;
    height: 100vh;
    width: 7%;
    position: fixed;
    background-image: url(image/accueil/header_background_transparent.png);
    background-repeat: no-repeat;
}

section{
    grid-row: 2;
}

footer{
    background-color: darkcyan;
    grid-row:3;
}

nav a{
    text-align: center;
    background-size: 100%;
}

nav img{
    width: 90%;
    opacity: 1;
}

nav img:hover{
    opacity:0.5;
}


#logo_accueil  {
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    text-align: center;
    width: 30%;
    min-width: 250px;
    background-color: yellow;
}

h2 {
    color: white;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    /*font-style: italic;*/
    letter-spacing: 0.5em;
    text-align: center;
}

h3 {
    color: #999;
    font-size: 1.5em;
    text-align: center;
}

p {
    line-height: 21px;
    text-align: center;
}

.inscription, .connexion {
    margin-top: 15%;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 40%;
    min-width: 220px;
}

.inscription {
    margin-right: 5%;
}

.box_gauche_main_accueil {
    min-width: 120px;
    background-color: yellow;
}

#main_accueil {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    //background-color: white;
}

