/*
    Squelette
 */

body {
    margin: 0px;
    background-image: url(image/accueil/background.png);
    background-attachment: fixed;
    font-family: "Century Gothic";
    background-repeat: no-repeat;
    font-size: 14px;
    color: white;
    display: grid;
    grid-template-columns: minmax(50px, 7%) 1fr;
}

#header_footer{
    height: 100vh;
    grid-column: 2;
    display: grid;
    grid-template-rows: minmax(58px,15%) minmax(50px, 80%) minmax(30px,5%);
    margin:0;
}

header{
    background-image: url(image/accueil/header_bg.png);
    background-repeat: no-repeat;
    display:flex;
    flex-direction: row;
    justify-content: center;
    grid-row:1;
    align-items: center;
    overflow:hidden;
    padding:0;
    min-height: 58px;
}

nav {
    grid-column: 1;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 0;
    height: 100vh;
    width: 7%;
    position: fixed;
    background-image: url(image/accueil/nav_background_transparent.png);
    background-repeat: no-repeat;
    min-width: 50px;
}

section{
    display: flex;
    flex-direction: column;
    grid-row: 2;
    overflow: auto;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}

footer {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:7%;
    grid-row:3;
    overflow: hidden;
    min-height: 20px;
    max-height: 50px;
}

footer > #footer {
    background-image: url(image/accueil/footer_bg.png);
    min-height: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

nav a{
    text-align: center;
    background-size: 100%;
}

nav img{
    width: 90%;
    opacity: 1;
}

nav img:hover{
    opacity:0.5;
}

footer #marge_g_footer {
    min-width:50px;
}

/*
    Block (titre, paragraphes, form)
 */

#logo_accueil  {
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    text-align: center;
    width: 30%;
    min-width: 250px;
    background-color: yellow;
}

h2 {
    color: white;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    /*font-style: italic;*/
    letter-spacing: 0.5em;
    text-align: center;
}

h3 {
    color: #999;
    font-size: 1.5em;
    text-align: center;
}

p {
    line-height: 21px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

b{
    text-decoration: none;
    color: black;
    font-size: 1.0em;
}

.flex-outer{
    box-sizing: border-box;
    min-width: 320px;
    padding: 20px;
    text-transform: uppercase;
    list-style: none;
}

.flex-outer li {/*form*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom:20px;
}

.flex-outer li label {
    flex: 1;
    max-width: 320px;
    min-width: 100px;
}

.flex-outer li label + *{
    flex: 2;
    min-width: 150px;
}

.flex-outer .message_contact{
    min-width: 95%;
    min-height: 15px;
}

.flex-outer li button{
    padding: 8px 16px;
    border: none;
    background: white;
    color: #444444;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
    margin: auto;
}

.flex-outer li input:not([type='checkbox']), .flex-outer select, .flex-outer textarea{
    padding: 10px;
    border: none;
}

.flex-outer li label{
    padding: 6px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

#form_contact{
    width: 50%;
    min-width: 320px;
    background-color: rgba(255, 255, 255, 0.3);
    margin:20px;
}

/*
    Footer
 */

#footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
}

.text_footer{
    color: white;
    font-size : 90%;
    text-align: center;
}

/*
    Habitation
*/

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch.ON_OFF {
    position: static;
}

.switch.tab_bord_maison, .switch.tab_bord_piece{
    width: 100%;
    height: 100%;
}

/* cache la checkbox moche par défaut */
.switch input {display:none;}

.curseur {
    width: 60px;
    position: absolute;
    cursor: pointer;
    top: 8px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.curseur.rond.ON_OFF {
    margin: auto;
}

.curseur.rond.ON_OFF {
    width: 95px;
    height: 80%;
    top: 10%;
    left: 5%;
    right: 5%;
    bottom: 10%;
}

.curseur:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.curseur.rond.ON_OFF:before {
    height: 26px;
    width: 26px;
    top:5%;
    bottom: 5%;
}

.a_cacher{
    display: none;
}

input:checked + .curseur {
    background-color: #5aa4ca;
}

input:checked + .curseur:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:checked + .curseur.rond.ON_OFF:before {
    transform: translateX(60px);
}

/* Pour rendre le curseur rond */
.curseur.rond {
    border-radius: 34px;
}

.curseur.rond:before {
    border-radius: 50%;
}

/*
    CGU
 */

#cgu{
    width: 50%;
    min-width: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    margin:20px;
    color: #999;
    font-size: 1.1em;
    text-align: justify;
}

.partie_cgu{
    color: darkslategray;
    font-size: 2em;
    margin: 20px;
    margin-bottom: 7px;
    padding: 4px;
    text-align: left;
}

.texte_cgu{
    color: #444444;
    font-size: 0.6em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    text-align: justify;
    margin: 20px;
}

/*
    Mentions Légales
 */

#mentions_legales{
    width: 50%;
    min-width: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    margin:20px;
    color: #999;
    font-size: 1.1em;
    text-align: justify;
}

#intro_mentions_legales{
    color: #444444;
    font-size: 0.9em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    text-align: justify;
    margin: 20px;
}

.partie_mentions_legales{
    color: darkslategray;
    font-size: 1.8em;
    margin: 20px;
    margin-bottom: 7px;
    padding: 4px;
    text-align: left;
}

.texte_mentions_legales{
    color: #444444;
    font-size: 0.6em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    text-align: justify;
    margin: 20px;
}

#liste_mentions_legales{
    color: #444444;
    font-size: 0.6em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    text-align: justify;
    margin: 20px;
}

/*
    Tableau de bord
 */

.box_tableaubord{
    overflow: auto;
    display:grid;
    background-color: rgba(255, 255, 255, 0.3);
    width: 90%;
    grid-template-rows: repeat(auto-fill, 1fr);
    height: max-content;
    margin: 20px 20px 70px 20px;
    padding: 20px;
}

#section_tableau_bord{
    display: grid;
    grid-template-columns: 10% 10% 1fr;
    align-items: start;
    justify-items: stretch;
}

/*
    Affichage des maisons
 */

#nav_maison{
    display: grid;
    grid-template-columns: 1fr 6fr;
    justify-self:stretch;
    height: 100%;
    width: 95%;
    border-radius: 10px;
}

.contenu_nav_maison{
    justify-self: stretch;
}

/*
    Affichage des pièces
 */

#nav_pieces{
    display: grid;
    justify-items: flex-start;
}

.piece_tableaubord{
    display:grid;
    width: 100%;
    grid-template-columns: 1fr;
    background-color: grey;
    margin-bottom: 3px;
}

.box_capteur_tableaubord{
    display:grid;
    margin: 3px 3px 3px 3px;
    grid-template-columns: repeat(5,1fr);
    background-color: rgb(115,180,207);
}

.button_pieces, .button_global{
    height: 60px;
    display: grid;
    grid-template-columns: 1fr;
    width: 120px;
    background-color: rgb(72,72,72);
    border-color: rgb(142,142,142);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    font-size: 1.1em;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.05em;
    font-family: "Century Gothic";
}

.nom_piece_focused {
    height: 20px;
    margin: 10px 5%;
    padding: 10px;
    display: grid;
    width: 90%;
    background-color: rgb(72,72,72);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    font-size: 1.1em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.05em;
    font-family: "Century Gothic";
}

#global_tableaubord{
    display: grid;
    grid-template-columns: 1fr 6fr;
}


/*
    Affichages des capteurs
 */

#section_capteurs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: max-content;
    justify-items: flex-start;
}

.nom_maison{
    font-size: 1.5em;
    text-align: center;
    display:block;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.05em;
    font-family: "Century Gothic";
}

.nom_piece{
    font-size: 1.1em;
    text-align: center;
    display:block;
    padding-top: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.nom_capteur.tab_bord{
    font-size: 1.1em;
    text-align: center;
    display:block;
    padding-top: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.capteur_tab_bord {
    min-width: 120px;
}

.box_nom_maison{
    padding: 20px 0px;
    height: 20px;
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: rgb(72,72,72);
    border-color: rgb(142,142,142);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}

#bouton_ajout_habitation{
    margin:auto;
}

.ajout_habitation{
    margin: auto;
}

/*
    Température
 */

.selecteur_a_remonter {
    top : 80%;
}

.valeur_capteur_actuelle {
    position: relative ;
    bottom: 30px;
    font-size: 1.5em;
    margin : 0px 30%;
    background-color: #444444;
    opacity: 0.8;
}

.slider_temperature, .slider_store {
    -webkit-appearance: none;
    width: 90%;
    margin: 5% 0px;
    height: 20px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider_temperature::-webkit-slider-thumb, .slider_store::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #5aa4ca;
    cursor: pointer;
}

.slider_temperature::-moz-range-thumb, .slider_store::-moz-range-thumb {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #5aa4ca;
    cursor: pointer;
}

/*
    Autres, ID, etc
 */

#main_accueil {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.connexion_inscription, #ajouter_habitation, #titre_tableau_de_bord{
    font-size: 2em;
    text-align: center;
    color: #ffff;
    margin: 0;
    padding-top: 20px;
    letter-spacing: 0.1em;
}

#titre_tableau_de_bord{
    padding-top: 0px;
    margin-bottom: 20px;
}

#box_connexion_inscription {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size : 12px;
    padding : 20px;
    justify-content: space-around;
    align-items: flex-start;
}

#form_inscription, #form_habitation, #form_connexion{
    margin: auto;
    min-width: 320px;
    background-color: rgba(255, 255, 255, 0.3);
    margin:25px;
    width: 35%;
}


#form_habitation {
    width: 70%;
}

input, select{
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
}

#titre{
    font-weight: bold;
    font-size: 4em;
    margin-right: auto;
    margin: 10px;
    color: #444444;
    letter-spacing: -0.05em;
}

#soustitre{
    font-size: 1.5em;
}

.checkboxclass{
    display:flex;
    justify-content: center;
}

#checkbox{
    height: 15px;
    width: 15px;
}

section::-webkit-scrollbar{
    background-color: lightgray;
}

section::-webkit-scrollbar-thumb{
    background-image: linear-gradient(#59A4C9, #59B3B7);
}

section::-webkit-scrollbar-track{

}

.gros_texte{
    font-weight: bold;
    font-size:1.5em;
    color: #444444;
}

.moyen_texte {
    font-weight: inherit ;
    font-size:1.1em;
    color: #444444;
}

.titre_validation_ajout_habitation {
    display:flex;
    justify-content:center;
}

.position_option{
    display:flex;
    justify-content: left;
}

/*
    Sélecteur Button
*/

.icone_capteur {
    max-width: 40%;
}
#ajout_capteurs{
    width: 90%;
}

#nouveau_capteur, #icone_capteur {
    display: grid;
    width: 100%;
    grid-template-columns: minmax(90px,1fr) minmax(90px,1fr) minmax(90px,1fr) minmax(90px,1fr);
    margin-bottom: 20px;
}

.nom_capteur {
    text-align: center;
}

#form_nouv_capteur{
    margin-top: 50px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/*position the selecteur content */
.selecteur {
    position: relative;
    display: inline-block;
    text-align: center;
}

/* selecteur Content (Hidden by Default) */
.selecteur-content {
    width: 80%;
    min-width: 110px;
    display: none;
    position:absolute;
    left: 10%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the selecteur */
.selecteur-content a {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.selecteur-content a:hover {background-color: #f1f1f1}

.selecteur:hover .selecteur-content {
    display: block;
}

.selecteur:hover .selecteur-content > .boutton_choix:hover{
    opacity: 0.5;
    background-color: #444444;
}

.selecteur:hover > .icone_capteur {
    opacity: 0.7;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.boutton_choix, #humidité {
    background-color: #96c0d1;
    width: 95%;
    border: none;
    color: white;
    padding: 7% 7%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#humidité{
    cursor: default;
    width: 78%;
    margin: 4px 1%;
}

/*
    Acceuil administrateur
*/

#accueil_admin{
    width: 50%;
    min-width: 320px;
    background-color: rgba(255, 255, 255, 0.3);
    margin:20px;
    text-align: center;
}

.titre_acc {
    font-size: 2em;
    text-align: center;
    color: #ffff;
    margin: 0;
    padding-top: 20px;
    letter-spacing: 0.1em;
}

.bouton_acc_admin{
    margin:auto;
}

.lien_acc{
    color: dimgrey;
    font-size: 1.5em;
}

.box_gestion_actionneurs{
    display:grid;
    background-color: rgba(255, 255, 255, 0.3);
    width: 20%;
    height: 2%;
    grid-template-rows: repeat(auto-fill, 1fr);
    margin: 20px;
    padding: 20px;
}

.liste_Utilisateurs{
    border: solid black;
    width: 100%;
    height: 100%;
    display: flex;
}